<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @if(User.Identity.IsAuthenticated) {
        <div>
            [ <a href="/Account/Logout">Выйти</a>  ]
        </div>
    }
    else {
        <div>
            [ <a href="/Account/Login">Войти</a>  ]
            [ <a href="/Account/Registration">Регистрация</a>  ]
        </div>
    }
    <div>
        @RenderBody()
    </div>
    <div>
        [ <a href="/StartView/Index">Главная</a>  ]
        [ <a href="/NewContact">Новый контакт</a>  ]
        [ <a href="/StartView/Information">Информация</a>  ]
    </div>
</body>
</html>
